<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{session.first_name}}</h1>
    {{recipes}}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Under 30</th>
            <th scope="col">Posted By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for recipe in recipes  %}
            <tr>
              <td>{{recipe.name}}</td>
              <td>
                {% if recipe.under_30 %}
                  yes
                {% else %}
                  
                no
                {% endif %}
              </td>
              <td>{{recipe.first_name}}</td>
              <td>
                <a href="">view</a>
                {% if recipe.user_id == session.user_id %}
                |<a href="/edit/{{recipe.id}}">edit</a>
                |<a href="">delete</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
 
        </tbody>
      </table>
    <a class="btn btn-danger" href="/logout">logout</a>
    <a class="btn btn-primary" href="/new/recipe">add recipe</a>
    <a class="btn btn-primary" href="/edit/user">update account</a>

</body>
</html>